<div class="post-wrapper">
  <main class="post-main">
    <!--sidebar-->
    <div class="post-sidebar">
      <a class="btn btn-primary w-100" href="/">返回主页</a>

      <!--table of content-->
      <div class="post-toc-wrapper"><%- toc(page.content, {list_number: true, class: 'post-toc'}) %></div>

      <!--about me-->
      <div class="post-about-me">
        <div class="post-author">
          <img class="post-author-avatar" src="/images/avatar.gif">
          <span class="post-author-name"><%- theme.author.name %></span>
        </div>

        <div class="post-social-info">
        </div>
      </div>
    </div>

    <!--content-->
    <div class="post-content">
      <div class="post-title"><%- page.title %></div>
      <%- page.content %>
    </div>
  </main>

  <!--<%- partial('_partials/footer') %>-->

</div>
